{% extends "../framework.html" %} {% block content %}
{% load static %}
  <!-- Begin Page Content -->
  <div class="container-fluid">

      <!-- Page Heading -->
      <div class="text-center">
          <h1 class="h3 mb-1 text-gray-800">Welcome on LITReview website {{ request.user }}</h1></br>
          <p class="mb-4">This website is usefull if you want to learn more about book.</br>
          You can also help the communauty, sharing your felling about book you read.</p>
      
          <img class="w-50 p-3 rounded"
            src="{% static 'img/Bibliotheque.png' %}"
            alt="Bibliotheque Image"
            id="Bibliotheque"
          />

      </div>
  </div>
{% endblock %}
