<!DOCTYPE html>
<style>
  #account {
    font-size: 18px;
    color: green;
    margin-right: 20px;
  }
</style>
<html>
  <head>
    <title>LITReview</title>
  </head>

  <body>
    <nav>
      <h1>Welcome on LITReview website</h1>
      <p>Here you can :</p>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
          <li><a href="{% url 'get' %}"> get comments </a></li>
          <li><a href="{% url 'post' %}"> post comments </a></li>
        </ul>
      </div>
      <span id="account"><a> Hello {{request.user}} </a></span>
      <span><a id="account" href="{% url 'login' %}"> Logout </a></span>
    </nav>
  </body>
</html>
