{% extends "framework-header.html" %} {% block page %}
<div class="sub-container">
  <ul class="navbar-nav">
    <p id="user">Hello {{request.user}}</p>
    <li><a href="{% url 'home' %}"> Home </a></li>
    <li><a href="{% url 'get' %}"> Get comments </a></li>
    <li><a href="{% url 'post' %}"> Post comments </a></li>
    <li><a href="{% url 'follower' %}"> Followers </a></li>
    <li><a href="{% url 'login' %}"> Logout </a></li>
  </ul>
</div>
<div class="sub-container">{% block content %}<!--page-->{% endblock %}</div>
{% endblock %}
