{% block reviews_content %}

    <!-- Begin Page Content -->
    <!-- Content Wrapper -->
    <div id="content" class="col justify-content-center">
        <!-- Main Content -->
        <div id="content">
        {% comment %} {% if form_review or ticket %} {% endcomment %}
            <!-- Basic Card Example -->
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Review - {{ ticket.ticket.title }}</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <p class="mb-1 small">Post by : {{ ticket.user }} </p>
                        <p class="mb-1 small">Created on : {{ ticket.time_created }} </p>
                        <hr>
                        <h6 class="m-0 font-weight-bold text-primary">{{ ticket.headline }} - {% for i in range_rate %}{% if i < ticket.rating %}★{% else %}☆{% endif %}{% endfor %}</h6>
                        <p class="mb-1 small">{{ ticket.body }}</p>
                        <hr>
                        <div class="tickets-container">
                            {% include 'ticket_template.html' with ticket=ticket.ticket userReview=ticket.user is_review=True is_card=True hide_edit=True %}
                            {% block card_reviewed %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% comment %} {% else %}
        <h1>ERROR</h1>
        {% endif %} {% endcomment %}
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}