{% block review_content %}

    <!-- Begin Page Content -->
    <!-- Content Wrapper -->
    <div id="content" class="col justify-content-center">
        <!-- Main Content -->
        <div id="content">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{% if request.user == review.user %} You {% else %} {{ review.user }}{% endif %} posted a review</h6>
                    <div class="text-xs">{{ review.time_created }}</div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        {% if is_review and is_card %}
                            <h6 class="m-0 font-weight-bold text-primary">{{ review.headline }} - {% for i in range_rate %}{% if i < review.rating %}★{% else %}☆{% endif %}{% endfor %}</h6></br>
                            <p class="mb-1">{{ review.body }}</p>
                            </br>
                        {% endif %}
                        <div class="tickets-container">
                            {% include 'ticket_template.html' with ticket=ticket is_review=True is_card=True hide_edit=True %}
                            {% block card_reviewed %}
                            {% endblock %}
                        </div>
                        {% if is_review and not is_card %}
                            {% include 'review_form.html' with ticket=ticket is_review=True is_card=True hide_edit=True %}
                            {% block review_form %}
                            {% endblock %}
                        {% endif %}
                        {% if request.user == review.user and is_card%}
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <a class="btn btn-primary btn-icon-split btn-sm btn-block" href="{% url 'update_review' review.id %}">Update</a>
                                <a></a>
                                <button type="button" class="btn btn-primary btn-icon-split btn-sm btn-block" data-toggle="modal" data-target="#deleteReviewModal">Delete</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

<!-- Delete Modal-->
<div class="modal fade" id="deleteReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete review</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "delete" below if you are sure to delete this review.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit" name="delete-review-button" value={{ review.id }}>Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}