{% block review_form %}
    <div class="card-body">
        <div id="content-wrapper" class="justify-content-center">
            <hr>
            <form action="" method="post" id="post-form">
                {% csrf_token %}
                <div class="mb-3">
                    <label>Review title</br></label>
                    <input type="text" class="form-control" name="headline">
                </div>
                <label>Rating</label></br>
                <div>
                    {% csrf_token %}
                    <div class="rating-stars">
                        {% for rating in rating_range %}
                            <input type="radio" name="rating" value="{{ rating }}" id="{{ rating }}">
                            <label for="{{ rating }}">{{ rating }} {% if rating < 5 %}-{% else %}{% endif %}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-0">
                    <label>Review description</br></label>
                    <textarea type="textarea" class="form-control" name="body"></textarea>
                </div></br>
                {% if is_review %}
                    <button type="submit" class="btn btn-primary btn-block" name="sub-send-review-button" value={{ ticket.id }}>Submit</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
