{% block ticket_content %}

<!-- Begin Page Content -->
<!-- Content Wrapper -->
<div id="content" class="col justify-content-center">
    <!-- Main Content -->
    <div id="content">
        <!-- Basic Card Example -->
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ticket - {{ ticket }}</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <p class="text-xs">
                        Post by : {{ ticket.user }} </br>
                        Created on : {{ ticket.time_created }} 
                    </p>
                    <hr>
                    <p class="mb-1">{{ ticket.description }} </p>
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                    src="../../media/{{ticket.image}}" alt="{{ ticket.title }}">
                    {% if not is_review and is_card%}
                        </br><button type="submit" class="btn btn-primary btn-block" name="sub-ask-review-button" value={{ ticket.id }}>Add review</button>
                    {% endif %}
                    {% if request.user == ticket.user and not is_review%}
                        {% if not is_review and is_card%}
                            <hr>
                        {% endif %}
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <a href="{% url 'update_ticket' %}" class="btn btn-primary btn-icon-split btn-sm btn-block">Update</a>
                        <a></a>
                        <a href="{% url 'delete_ticket' %}" class="btn btn-primary btn-icon-split btn-sm btn-block">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>  
<!-- /.container-fluid -->
{% endblock %}