<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css" />
    
    <title>LITReview</title>
  </head>

  <body>
    <header>
      <div class="head">
        <img src="../../static/img/Logo.png" alt="Logo Image" id="Logo" />
      </div>
      <h1>Welcome on LITReview website</h1>
      <div></div>
    </header>
    <section class="main-container">
      <div class="sub-container">
        <ul class="navbar-nav">
          <p id="user">Hello {{request.user}}</p>
          <li><a href="{% url 'home' %}"> Home </a></li>
          <li><a href="{% url 'get' %}"> Get comments </a></li>
          <li><a href="{% url 'post' %}"> Post comments </a></li>
          <li><a href="{% url 'follower' %}"> Followers </a></li>
          <li><a href="{% url 'login' %}"> Logout </a></li>
        </ul>
      </div>
      <div class="sub-container">
        <h2>Follow others users on LitReview</h2>
        Find new followers : </br>
        <div class="follower">
          <select id="user-selecter">
            <option value="users" selected>users</option>
            {% for user in all_users %}
              <option value={{ user.username }}>{{ user.username }}</option>
            {% endfor %}
          </select>
          <form action="follower" methode="POST">
            {% csrf_token %}
            <button type="submit" class="user-submited">
              Follow
            </button>
          </form>
        </div>

        </br>User I follow :
        <div class="followig">
          </br>
          <table>
            <tbody>
              {% if all_followers %}
                {% for follower in all_followers %}
                  <tr>
                    <td>{{ follower.id }}</td>
                    <td><button type="submit" class="user-unfollowed" name="delete"></td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>You do not follow any user</tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        </br>User who follow me : </br>
          <div class="followd">
            <ul id="flw-list">
              {% if all_followed %}
                {% for followed in all_followed %}
                  <li>{{ followed }}</li>
                {% endfor %}
              {% else %}
                <li>No user follow you</li>
              {% endif%}
            </ul>
          </div>
      </div>
    </section>
  </body>
</html>
