{% extends "../framework.html" %} {% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="text-center">
    <h1 class="h3 mb-1 text-gray-800">Post comment on LITReview website</h1>
    <p class="mb-4"></br>Create ticket to share comment on book :</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 mx-auto">   
        <div class="card-body">
          <div id="content-wrapper" class="justify-content-center">                         
            <form action="{% url 'post' %}" method="post" id="post-form" enctype='multipart/form-data'>
              {% csrf_token %}
              <div class="mb-3">
                <label>Book title</br></label>
                <input type="text" class="form-control" value={{ form_post_comment.title }}>
              </div>
              <div class="mb-0">
                <label>Book description</br></label>
                <textarea type="textarea" class="form-control" value={{ form_post_comment.description }}></textarea>
              </div>
              <label class="btn btn-primary btn-block" >
                <input type="file" style="display: none;" value={{ form_post_comment.image }}>
                <i class="fas fa-fw fa-folder"></i>Upload book image
              </label>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>  
    </div>
  </div>
  </div>
</div>
{% endblock %}